.todo-app {
    margin-top: 30px;
    .container {
        background-color: #fafafa;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        margin: 0 2em;
        margin-top: 1em;
    }
    .text-center{
        text-align: center;
    }
    .navigations{
        ul{
            margin: 0 2em;
            padding: 0;
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            background-color: #fafafa;
            li{
                cursor: pointer;
                display: inline-block;
                list-style: none;
                width: 100%;
                text-align: center;
                padding: 2px;
                &.active{
                    transition: all 0.4s ease-out;
                    opacity: 1;
                    background-color: #1779ba;
                    color: #ffffff;
                }
            }
        }
    }
    /*media queries*/
    @media only screen and (max-width: 400px) {
        li {
            font-size: 10px;
        }
    }
}
